.project-wrapper {
  margin: 5rem 0 6.25rem 0;
  @media(max-width: 61.9375rem) {
    margin: 3.75rem 0;
  }
}

.project-container {
  padding: 0 0.9375rem;
  margin: 0 auto;
  display: flex;
  text-transform: none;
  width: 73.125rem;
  @media(max-width: 75rem) {
    width: 60.625rem;
  }
  @media(max-width: 62rem) {
    flex-direction: column;
    width: 46.875rem;
  }
  @media(max-width: 48rem) {
    width: 100%;
  }
}

.project-data {
  div {
    margin-bottom: 1.875rem;
    p:first-child {
      margin-bottom: 0.3125rem;
      text-transform: uppercase;
    }
  }
  @media(max-width: 62rem) {
    width: 100%;
    text-align: left;
    padding: 0 0.9375rem;
  }
}

.project-data, .project-intro {
  h4 {
    margin: 0 0 1.875rem 0;
    font-size: 1.25rem;
    text-transform: uppercase;
    color: #333333;
  }
  @media(max-width: 47.9375rem) {
    h4 {
      margin: 0 0 0.9375rem 0;
    }
  }
}