.mpn__wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1101;
  left: 0;
  top: 0;
  transition: 0.3s;
  background-color: white;
}

.mpn__header {
  height: 7.1875rem;
  width: 100%;
  display: flex;
}

.mpn__title, .mpn__slide-numbers, .mpn__close-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mpn__title {
  width: 80%;
  height: 100%;
  flex-direction: column;
}

.mpn__slide-numbers, .mpn__close-modal {
  width: 10%;
  height: 100%;
}

.mpn__close-box, .mpn__slide-fraction {
  position: relative;
  width: 1.875rem;
  height: 1.875rem;
}

.mpn__slide-current, .mpn__slide-total {
  position: absolute;
  line-height: 0.75rem;
  font-size: 0.75rem;
}

.mpn__slide-current {
  top: 0;
  left: 0;
}

.mpn__slide-total {
  bottom: 0;
  right: 0;
}

.mpn__close-box::before, .mpn__slide-fraction::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: right;
  -ms-transform-origin: right;
  -o-transform-origin: right;
  transform-origin: right;
  right: 0;
}

.mpn__close-box::after, .mpn__close-box::before, .mpn__slide-fraction::after {
  content: "";
  width: 2.625rem;
  border-bottom: 0.0625rem solid;
  display: block;
  position: absolute;
  top: 0;
}

.mpn__close-box {
  &:hover {
    cursor: pointer;
  }
  &::after {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    -o-transform-origin: left;
    transform-origin: left;
    left: 0;
  }
}