.mpn__wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1101;
  left: 0;
  top: 0;
  transition: 0.3s;
  background-color: white;
}

.mpn__header {
  height: 7.1875rem;
  width: 100%;
  display: flex;
}

.mpn__title {
  width: 80%;
  height: 100%;
}

.mpn__slide-number, .mpn__close-modal {
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mpn__close-box {
  position: relative;
  width: 1.875rem;
  height: 1.875rem;
  &:hover {
    cursor: pointer;
  }
  &::before, &::after {
    content: "";
    width: 2.625rem;
    border-bottom: 0.0625rem solid;
    display: block;
    position: absolute;
    top: 0;
  }
  &::before {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: right;
    -ms-transform-origin: right;
    -o-transform-origin: right;
    transform-origin: right;
    right: 0;
  }
  &::after {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    -o-transform-origin: left;
    transform-origin: left;
    left: 0;
  }
}