@import url("slick-carousel/slick/slick.css");
$white: #fff;

.carousel-item {
  width: 26.5rem;
  height: 39.75rem;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.overlay {
  position: absolute;
  inset: 1.25rem 1.5rem;
  line-height: 1.25rem;
  transition: all 0.4s ease-in-out;
  opacity: 0;
  cursor: pointer;
}
.overlay:hover {
  opacity: 1;
}

.overlay-inner {
  position: absolute;
  inset: 1.875rem;
}

.overlay-inner:before {
  content: "";
  width: 0;
  height: 0;
  transition: width 0.4s 0.4s, height 0.4s 0.4s;
}

.overlay:hover .overlay-inner:before {
  width: 2.5rem;
  height: 2.5rem;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  border-top: 0.0625rem solid $white;
  border-right: 0.0625rem solid $white;
}

.overlay-text {
  color: $white;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 1;
}

.text-header {
  font-weight: 200;
  transition: opacity 0.4s 0.3s;
  text-transform: none;
  -webkit-font-smoothing: initial;
}

.text-subheader {
  text-transform: uppercase;
  transition: opacity 0.4s 0.6s;
  -webkit-font-smoothing: initial;
}

.text-header,
.text-subheader {
  opacity: 0;
  margin-bottom: 0;
}

.overlay:hover .text-header,
.overlay:hover .text-subheader {
  opacity: 1;
}

.filter-box {
  position: absolute;
  height: 0;
  width: 0;
}

/* ---- grid ---- */

.isotope-grid-wrapper {
  display: flex;
  justify-content: center;
}

.isotope-grid {
  // padding: 0 0.9375rem;
  margin: 0.9375rem auto auto;
  @media (min-width: 48rem) {
    width: 46.875rem;
  }
  @media (min-width: 62rem) {
    width: 60.625rem;
  }
  @media (min-width: 75rem) {
    width: 73.125rem;
  }
  width: 100%;
}

/* clear fix */
.isotope-grid:after {
  content: "";
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

/* 5 columns, percentage width */
.isotope-grid-item,
.isotope-grid-sizer {
  @media (min-width: 48rem) {
    width: 100%;
  }
  @media (min-width: 62rem) {
    width: 50%;
  }
  @media (min-width: 75rem) {
    width: 33%;
  }
}

.isotope-grid-item {
  padding: 0.9375rem;
}

.isotope-grid-item-overlay {
  inset: 0.9375rem;
}
