.totop {
  width: 2.5rem;
  height: 2.5rem;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  right: 0.9375rem;
  bottom: 1.875rem;
  border: 0.125rem solid;
  border-radius: 50%;
  font-size: 0.875rem;
  line-height: 2.25rem;
  text-align: center;
  background-color: #ffffff;
  cursor: pointer;
  z-index: 20;
  transition: visibility 0s, opacity 0.3s linear;
}

.totop-show {
  visibility: visible;
  opacity: 1;
}

#intersection-div {
  position: absolute;
  width: 1px;
  height: 1px;
  top: 100px;
  left: 0;
}